:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: black;
  background-color: white;
}

#app{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
}

p {
  font-size: 2rem;
}

.beer-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.favourite-beers {
  margin-left: 1rem;
  margin-right: 1rem;
}